.card {
  max-width: 413px;
  position: relative;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  background-image: url(../images/DefaultTrash.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  cursor: pointer;
  background-image: url(../images/HoverTrash.svg);
}

.card__like-butn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  padding: 0;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-butn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-butn_active:hover {
  opacity: 0.4;
  cursor: pointer;
}

.card__like-butn_active {
  background-image: url(../images/LikeActive.svg);
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
  }
}
