.footer {
  height: 120px;
  width: 100%;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  font-weight: 400;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}

@media screen and (max-width: 627px) {
  .footer {
    display: flex;
    flex-direction: row;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }
}
