.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0s linear 0.5s;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  padding: 0 0 0;
  opacity: 0.4;
  transition: opacity 0.5s linear;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-color: transparent;
  background-image: url(../images/WhiteClose.svg);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.modal__close-btn_type_preview:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  text-decoration-color: #212121b2;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
  font-size: 20px;
  color: #212121;
  width: 100%;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  padding: 18px 32px;
  background-color: #212121;
  color: #fff;
  max-width: 156px;
  border-radius: 8px;
  border: none;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  width: fit-content;
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  margin: 8px 0;
  padding: 4px 8px 4px 8px;
  border-style: none;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__title {
    margin: 0 0 34px;
    font-size: 20px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__image {
    max-width: 100vw;
    max-height: 100vh;
  }
}
