.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  margin-bottom: 20px;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  opacity: 0.7;
  color: #212121;
  background: none;
  padding: 0;
  display: flex;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  padding: 0;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #212121;
  width: 157px;
  height: 52px;
  color: #fcf5e5;
  gap: 8px;
  border-style: none;
  display: flex;
  margin-top: auto;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__name {
  margin: 0 0 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__button-text {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
}

.profile__description {
  max-width: 420px;
  margin: 0 0 0;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 0;
    max-width: 288px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__description {
    margin-bottom: 32px;
  }

  .profile__add-btn {
    width: 100%;
    margin: 0;
    max-width: 288px;
  }

  .profile__edit-btn {
    display: flex;
    justify-content: center;
  }
}
